<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wit.walchand.witchar17">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UniversalActivity"
            android:theme="@style/UniversalTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.wit.walchand.witchar17.Main" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".detailevent.EventData"
            android:label="@string/title_activity_event_data"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".detailevent.Robotics"
            android:label="@string/title_activity_robotics"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".detailevent.Project"
            android:label="@string/title_activity_project"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".detailevent.Paper"
            android:label="@string/title_activity_paper"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".detailevent.CoolCode"
            android:label="@string/title_activity_cool_code"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".outbox.OutBoxEventData" />
        <activity
            android:name=".IntroActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.wit.walchand.witchar17.Intro" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Theme" />
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".quiz_operations.QuizOperationsAct"></activity>
    </application>

</manifest>